<div>
<style>
.contenedor {
    max-width: 600px;
    padding: 15px;
    margin: 0 auto;
}
</style>

    <h1>Ingreso de servicio</h1>

    <form class="form-horizontal contenedor">
        <!--div class="form-group">
            <label class="col-sm-2 control-label">CAMPOS</label>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder=".col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder=".col-xs-4">
                    </div>
                </div>
            </div>
        </div-->

        <div class="form-group">
            <label for="disabledAgencia" class="col-sm-2 control-label">Agencia</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledAgencia" type="text" placeholder="Concepci&oacute;n" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="disabledEstado" class="col-sm-2 control-label">Estado</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledEstado" type="text" placeholder="En transito" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="inputFechaInicio" class="col-sm-2 control-label">Fecha Servicio</label>
            <div class="col-sm-10">
                <p class="input-group">
                    <input type="text"
                    class="form-control"
                    datepicker-popup="dd-MM-yyyy"
                    ng-model="fecIni"
                    is-open="openedInicio"
                    datepicker-options="dateOptions"
                    date-disabled="disabled(date, mode)"
                    ng-required="true"
                    show-button-bar="false"
                    show-weeks="false"
                    id="inputFechaInicio"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openInicio($event)">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputFechaTermino" class="col-sm-2 control-label">Fecha Termino</label>
            <div class="col-sm-10">
                <p class="input-group">
                    <input type="text"
                    class="form-control"
                    datepicker-popup="dd-MM-yyyy"
                    ng-model="fecFin"
                    is-open="openedFin"
                    datepicker-options="dateOptions"
                    date-disabled="disabled(date, mode)"
                    ng-required="true"
                    show-button-bar="false"
                    show-weeks="false"
                    id="inputFechaTermino"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openFin($event)">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="selCliente" class="col-sm-2 control-label">Cliente</label>
            <div class="col-sm-10">
                <select id="selCliente" class="form-control">
                    <option>Moly COP Chile S.A.</option>
                    <option>Lorem</option>
                    <option>Ipsum</option>
                    <option>Dolor</option>
                    <option>Sit</option>
                    <option>Amet</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="disabledRUT" class="col-sm-2 control-label">RUT</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledRUT" type="text" placeholder="92.244.000-K" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="disabledEstado" class="col-sm-2 control-label">Vigencia</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledEstado" type="text" placeholder="Vigente" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="selTipoCarga" class="col-sm-2 control-label">Tipo carga</label>
            <div class="col-sm-10">
                <select id="selTipoCarga" class="form-control">
                    <option>Carga suelta</option>
                    <option>Lorem</option>
                    <option>Ipsum</option>
                    <option>Dolor</option>
                    <option>Sit</option>
                    <option>Amet</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="selCondicion" class="col-sm-2 control-label">Condici&oacute;n</label>
            <div class="col-sm-10">
                <select id="selCondicion" class="form-control">
                    <option>Local</option>
                    <option>Ipsum</option>
                    <option>Dolor</option>
                    <option>Sit</option>
                    <option>Amet</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="selOrigen" class="col-sm-2 control-label">Origen</label>
            <div class="col-sm-10">
                <select id="selOrigen" class="form-control">
                    <option>Lirqu&eacute;n</option>
                    <option>Ipsum</option>
                    <option>Dolor</option>
                    <option>Sit</option>
                    <option>Amet</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="selDestino" class="col-sm-2 control-label">Origen</label>
            <div class="col-sm-10">
                <select id="selDestino" class="form-control">
                    <option>Moly COP</option>
                    <option>Ipsum</option>
                    <option>Dolor</option>
                    <option>Sit</option>
                    <option>Amet</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="selDev" class="col-sm-2 control-label">Dev. vac&iacute;o</label>
            <div class="col-sm-10">
                <select id="selDev" class="form-control">
                    <option>No aplica</option>
                    <option>Ipsum</option>
                    <option>Dolor</option>
                    <option>Sit</option>
                    <option>Amet</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="inputProducto" class="col-sm-2 control-label">Producto</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputProducto" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label for="inputMNave" class="col-sm-2 control-label">MNave</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputMNave" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label for="inputETA" class="col-sm-2 control-label">ETA Nave</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputETA" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label for="inputObs" class="col-sm-2 control-label">Observaciones</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputObs" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Siguiente</button>
            </div>
        </div>
    </form>
</div>
